<!DOCTYPE html>
    <html>
        <head>
            <title><%= title %></title>
            <link rel='stylesheet' href='/stylesheets/style.css' />
            </head>
        <body>
            <form action="/pedidos/save" method="post">
                <input type="hidden" name="_id" value="<%= pedido._id %>">
                nome: <input type="text" name="nome" value="<%= pedido.nome %>"></br>
                <!--descricao: <input type="text" name="descricao" value="<%= pedido.descricao %>"></br>
                fabricante: <input type="text" name="fabricante" value="<%= pedido.fabricante %>"></br>
                valor unitário: <input type="text" name="valor_unitario" value="<%= pedido.valor_unitario %>"></br>-->
                <input type="submit" value="Salvar">
            </form>
    </body>
</html>
