<!DOCTYPE html> 
<html>  
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <h1><%= title %></h1>
        <ul>    
            <% pecas.forEach(function(c) { %>
            <li>
                <a href="/pecas/form/<%- c._id %>"><%- c.nome %></a> (<a href="/pecas/del/<%- c._id %>">Excluir</a>)
            </li>    
            <% }) %>
        </ul>
        </br> 
    <a href="/pecas/form">Nova Peça</a>  
    </body> 
</html>